{% extends 'base.html.twig' %}

{% block title %}New Rest
{% endblock %}

{% block body %}
	<h1 class="text-center">Create New Appointment</h1>

	{{ include('rest/_form.html.twig') }}

{% endblock %}
