<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="styles.css">
<body ng-app="myApp">

<div ng-controller="myCtrl">
	<table>
		<tr>
			<th><button ng-click="one()">1</button></th>
  			<th><button ng-click="two()">2</button></th>
  			<th><button ng-click="three()">3</button></th>
  		</tr>
  		<tr>
  			<th><button ng-click="four()">4</button></th>
  			<th><button ng-click="five()">5</button></th>	
  			<th><button ng-click="six()">6</button></th>
  		</tr>
  		<tr>
  			<th><button ng-click="seven()">7</button></th>
  			<th><button ng-click="eight()">8</button></th>
  			<th><button ng-click="nine()">9</button></th>
  		</tr>
  		<tr>
  			<th><button ng-click="zero()">0</button></th>
  			<th><button ng-click="plus()">+</button></th>
  			<th><button ng-click="minus()">-</button></th>
  		</tr>
    	<tr>
    		<th><button ng-click="multiplication()">*</button></th>
    		<th><button ng-click="devide()">/</button></th>
    		<th><button ng-click="calculate()">=</button></th>
    	</tr>
  		<tr>
  			<div class="output-container">
  				<output type="text" >{{result}}</output>
  			</div>

  		</tr>
	</table>
</div>
<script src="scripts.js"></script>
</body>
</html>