table {
  border: 0px solid black;
  margin-left:auto; 
  margin-right:auto;
}
button{
	width: 60px;
	height: 60px;
	background-color: #264B80;
	color: #D3D7E3;
}
output{
color: #D3D7E3;
position: relative;
}
.output-container{
	background-color: #264B80;
	text-align: right;
}
