{% extends 'base.html.twig' %}

{% block title %}Edit Vet
{% endblock %}

{% block body %}

	<h1 class="text-center">Edit the Appointment</h1>

	{{ include('vet/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
